<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dudaizhong.news">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".modules.launch.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.main.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".modules.launch.LaunchActivity"
            android:theme="@style/AppTheme.Full"/>
        <activity
            android:name=".modules.login.activity.LoginActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".modules.zhihu.activity.ZhihuDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.zhihu.activity.ThemeDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.zhihu.activity.SectionDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.zhihu.activity.ZhihuCommentActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".modules.gank.activity.MeiziActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Full"/>

        <activity
            android:name=".modules.gank.activity.AIActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".modules.main.activity.AboutActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".modules.setting.SettingActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".modules.main.activity.LikeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".modules.login.activity.RegisterActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>